// base settings
@app-default-transitions: 1; // set 0 to disable transitions
@app-default-transition-speed: 100ms;

// media queries 
@screen-xs: 480px;
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;

// base layout vars
@app-layout-base-font-color: #454545;
@app-layout-base-font-color-heading: #00a7f2;
@app-layout-base-font-color-secondary: #0059a4;

@app-layout-light-font-color: #F5F5F5;
@app-layout-light-font-color-heading: #FFF;
@app-layout-light-font-color-secondary: #F5F5F5;

@app-layout-base-font-family: 'Open Sans', sans-serif;
@app-layout-base-font-size: 13px;
@app-layout-base-font-weight: 400;
@app-layout-base-line-height: 20px;

@app-layout-sidebar-width: 300px;
@app-layout-sidebar-minimized-width: 50px;
@app-layout-sidebar-dropdown-width: 250px;

@app-layout-sidepanel-width: 400px;
@app-layout-sidepanel-background: #FFF;

@app-layout-separate-width: 360px;
// end base layout vars

// base design colors
@app-design-main-color: #00a7f2;
@app-design-base-bg: #EDEFF0;
@app-desing-border-color: #DBE0E4;//#CFD3D6;
@app-desing-border-radius: 5px;
@app-desing-base-link-color: #0F9DEA;

@app-desing-base-element-bg: #FFF;
@app-desing-base-element-bg-hover: #F5F5F5;
@app-desing-base-element-bg-active: @app-design-main-color;
@app-desing-base-element-bg-active-color: #FFF;
@app-desing-base-element-link: @app-layout-base-font-color-heading;
@app-desing-base-element-link-hover: @app-desing-base-link-color;
@app-desing-base-element-link-active: darken(@app-desing-base-link-color, 10%);

    // main theme colors
    @app-design-primary-bg: darken(@app-design-main-color,2%);
    @app-design-primary-color: #FFF;
    @app-design-success-bg: #76AB3C;//#84BF43;
    @app-design-success-color: #FFF;
    @app-design-info-bg: #4FB5DD;
    @app-design-info-color: #FFF;
    @app-design-warning-bg: #F69F00;
    @app-design-warning-color: #FFF;
    @app-design-danger-bg: #F04E51;
    @app-design-danger-color: #FFF;
    
    // block
    @app-design-block-bg: #FFF;
    @app-design-block-border: @app-desing-border-color;
    @app-design-block-border-radius: 5px;

// navigation
@app-navigation-background: #2b2e35;
@app-navigation-element-color: #C5D1CD;
@app-navigation-element-color-hover: #FFF;
@app-navigation-element-title-color: #55698A;
@app-navigation-element-size: 11px;
@app-navigation-element-weight: 600;
@app-navigation-element-icon-color: #C5D1CD;
@app-navigation-element-icon-color-active: #d9e6e2;
@app-navigation-element-background: #2b2e35;
@app-navigation-element-background-hover: darken(@app-navigation-element-background,2%);
@app-navigation-element-background-active: #0f7cd0;
@app-navigation-element-border: darken(@app-navigation-element-background,2%);

@app-navigation-logo-background: darken(@app-navigation-element-background,3%);
@app-navigation-logo-height: 60px;


@app-navigation-horizontal-bg: #0059a4;
@app-navigation-horizontal-bg-active: #FFF;
@app-navigation-horizontal-border: #DBE0E4;
@app-navigation-horizontal-color: #C5D1CD;
@app-navigation-horizontal-color-hover: #FFF;
@app-navigation-horizontal-color-active: #1B2431;
@app-navigation-horizontal-secondary-color: lighten(#1B2431,10%);
@app-navigation-horizontal-secondary-bg-hover: #F5F5F5;
@app-navigation-horizontal-font-size: 11px;
@app-navigation-horizontal-font-weight: 700;
//@app-navigation-logo-height-minimized: 50px;

